---
interface Heading {
  depth: number;
  slug: string;
  text: string;
}

interface Props {
  headings: Heading[];
}

const { headings } = Astro.props;
// 只显示 h2 和 h3
const tocHeadings = headings.filter(h => h.depth >= 2 && h.depth <= 3);
---

{tocHeadings.length > 0 && (
  <nav class="toc">
    <div class="toc-title">目录</div>
    <ul class="toc-list">
      {tocHeadings.map(heading => (
        <li class:list={[`depth-${heading.depth}`]}>
          <a href={`#${heading.slug}`}>{heading.text}</a>
        </li>
      ))}
    </ul>
  </nav>
)}
